@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=DynaPuff:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nosifer&family=Notable&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&family=Unlock&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(to bottom, #10131b, #0000ff);
  color: white;
}

main .title {
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 0 0 1rem #000000, 0 0 2rem #000000, 0 0 3rem #000000,
    0 0 4rem #000000;
  text-transform: uppercase;
}

.input {
  background-color: rgba(146, 146, 146, 0.507);
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7); /* Sombra suave */
}

input,
button {
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: 700;
  color: white;
  font-size: 1rem;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.result {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  background-color: rgba(146, 146, 146, 0.507);
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7); /* Sombra suave */
}
